<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newlogic.mlkitlib">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".newlogic.MLKitActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
        </activity>
    </application>
</manifest>