<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.idpass.smartscanner.lib">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        tools:ignore="UnusedAttribute">
        <meta-data android:name="io.sentry.dsn" android:value="${dsn}" />
        <meta-data android:name="io.sentry.debug" android:value="true" />
        <activity
            android:name="SmartScannerActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize|keyboardHidden"
            android:resizeableActivity="false"
            android:exported="true"
            android:screenOrientation="nosensor"
            android:keepScreenOn="true">
            <intent-filter>
                <!--Bundle intent-->
                <action android:name="org.idpass.smartscanner.BARCODE_SCAN" />
                <action android:name="org.idpass.smartscanner.IDPASS_LITE_SCAN" />
                <action android:name="org.idpass.smartscanner.MRZ_SCAN" />
                <action android:name="org.idpass.smartscanner.NFC_SCAN" />
                <action android:name="org.idpass.smartscanner.QRCODE_SCAN" />
                <!--ODK bundle intent-->
                <action android:name="org.idpass.smartscanner.odk.BARCODE_SCAN" />
                <action android:name="org.idpass.smartscanner.odk.IDPASS_LITE_SCAN" />
                <action android:name="org.idpass.smartscanner.odk.MRZ_SCAN" />
                <action android:name="org.idpass.smartscanner.odk.NFC_SCAN" />
                <action android:name="org.idpass.smartscanner.odk.QRCODE_SCAN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".nfc.NFCActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleInstance"
            android:keepScreenOn="true"/>
    </application>
</manifest>