<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.newlogic.smartscanner">

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="CoarseFineLocation" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".SmartScannerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="MainActivity"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".result.ResultActivity"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".result.IDPassResultActivity"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".result.RawResultActivity"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor" />
    </application>
</manifest>